<template>
  <div class="flex w-full h-full flex flex-nowrap">
    <ball-workbench />
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

import BallWorkbench from '../components/ball-workbench.vue';

interface Props {
  label?: string;
}
const props = withDefaults(defineProps<Props>(), {
  label: '',
});

const emit = defineEmits<{
  (e: 'update:modelValue', value: string): void;
}>();
</script>

<style scoped lang="sass">
</style>
