@import ./quasar-variables

@mixin color-class($class, $value)
  .bg-#{$class}
    background: $value
  .text-#{$class}
    color: $value
  .border-#{$class}
    border-color: $value

@include color-class('main', $main)
@include color-class('second', $second)
