<template>
  <canvas
    ref="canvas"
    class="w-full h-full outline-none"
  />
</template>

<script setup lang="ts">
import {
  Color3, Engine, Scene,
  KeyboardEventTypes, GlowLayer, Light, Vector3, HemisphericLight
} from '@babylonjs/core';
import '@babylonjs/loaders';
// import "@babylonjs/core/Debug/debugLayer";
// import "@babylonjs/inspector";

import { onBeforeUnmount, onMounted, ref, watch } from 'vue';
import { BallCamera } from '../common/ball-camera';
import { PokeBall } from '../common/pokeball';
import { createAnimation } from '../common/utils';

import { useMainStore } from '../stores/main.store';

interface Props {
  label?: string;
}
const props = withDefaults(defineProps<Props>(), {
  label: '',
});

const emit = defineEmits<{
  (e: 'update:modelValue', value: string): void;
}>();

const store = useMainStore();

const canvas = ref<HTMLCanvasElement>();
const engine = ref<Engine>();
const scene = ref<Scene>();


function createEngine(canvas: HTMLCanvasElement) {
  const engine = new Engine(canvas, true);
  return engine;
}
function createScene(engine: Engine) {
  const scene = new Scene(engine);
  scene.createDefaultLight();
  const helper = scene.createDefaultEnvironment({
    enableGroundMirror: true,
  });

  helper?.setMainColor(Color3.White());

  return scene;
}

const bottomLight = ref<HemisphericLight>();
function createBottomLight(scene: Scene) {
  const light = new HemisphericLight('bottomLight', new Vector3(1, -2, 0), scene);
  light.intensity = 0;
  return light;
}
watch(() => store.target, (target) => {
  if (!bottomLight.value) return;

  let intensity = 0;
  if (target === 'bottom') {
    intensity = 0.5;
  }

  const { animation, frameRate } = createAnimation(bottomLight.value, 'intensity', intensity);
  bottomLight.value.animations = [animation];
  scene.value?.beginAnimation(bottomLight.value, 0, frameRate, false);
});

const camera = ref<BallCamera>();
function createCamera(scene: Scene) {
  const camera = new BallCamera('camera', scene);

  // scene.activeCamera?.attachControl(canvas.value, true);

  return camera;
}
watch(() => store.target, (target) => {
  const speedRatio = !target ? 0.4 : 0.7;
  camera.value?.move(target, speedRatio);

  ball.value?.enableDecal(target === 'bottom');
});

const ball = ref<PokeBall>();
async function createBall(scene: Scene) {
  const ball = await new PokeBall('ball', scene).init();
  return ball;
}
watch(() => store.topShell, async (topShell) => {
  if (!topShell) return;
  ball.value?.setShell(topShell);
});
watch(() => store.btnColor, async (btnColor) => {
  if (!btnColor) return;
  ball.value?.setButtonColor(btnColor);
});
watch(() => store.decalUrl, async (url) => {
  if (!url) return;
  ball.value?.setDecal(url);
});

function createGlow(scene: Scene) {
  const glow = new GlowLayer('glow', scene);
  glow.intensity = 0.4;

  let t = 0;
  scene.onBeforeRenderObservable.add(() => {
    t += 0.04;
    glow.intensity = (Math.cos(t) + 1) / 2 * 0.5 + 0.3;
  });
}

async function init() {
  if (!canvas.value) {
    console.error('無法取得 canvas DOM');
    return;
  }

  engine.value = createEngine(canvas.value);
  scene.value = createScene(engine.value);
  bottomLight.value = createBottomLight(scene.value);
  camera.value = createCamera(scene.value);

  ball.value = await createBall(scene.value);
  createGlow(scene.value);

  scene.value.onKeyboardObservable.add((keyboardInfo) => {
    if (keyboardInfo.type !== KeyboardEventTypes.KEYDOWN) return;

    // console.log(keyboardInfo.event.key);
    switch (keyboardInfo.event.key) {
      case '9': {
        const debugLayer = scene.value?.debugLayer;
        if (debugLayer?.isVisible()) {
          debugLayer?.hide();
        } else {
          debugLayer?.show();
        }
        break;
      }
    }
  });

  engine.value.runRenderLoop(() => scene.value?.render());
}

onMounted(() => {
  init();
  window.addEventListener('resize', handleResize);
});

onBeforeUnmount(() => {
  engine.value?.dispose();
  window.removeEventListener('resize', handleResize);
});

function handleResize() {
  engine.value?.resize();
}

</script>

<style scoped lang="sass">
</style>
