<template>
  <div class="flex flex-col items-center px-4">
    <div class="title text-2xl font-normal text-white p-3 px-10 text-center">
      選配按鈕顏色
    </div>
    <div class=" max-w-[100vw] bg-white/20 p-3 px-16 rounded-full">
      <div class="gap-2 sm:gap-6
                  w-full flex flex-nowrap overflow-x-auto overflow-y-hidden">
        <carousel-item
          v-for="item in items"
          :key="item.value"
          v-model="name"
          :value="item.value"
          :label="item.label"
          :img="item.img"
          label-class="text-xs p-1 sm:text-sm sm:p-1 whitespace-nowrap"
          class=" w-16 h-16 sm:w-24 sm:h-24"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import { useMainStore } from '../stores/main.store';

import yellowImg from '../assets/carousel-item-color-yellow.png';
import greenImg from '../assets/carousel-item-color-green.png';
import orangeImg from '../assets/carousel-item-color-orange.png';
import cyanImg from '../assets/carousel-item-color-cyan.png';
import purpleImg from '../assets/carousel-item-color-purple.png';

import CarouselItem from './carousel-item.vue';

const store = useMainStore();

const name = ref(store.btnColor);
watch(name, store.setBtnColor)

const items = [
  {
    label: '妙蛙綠',
    value: 'green',
    img: greenImg,
  },
  {
    label: '皮卡黃',
    value: 'yellow',
    img: yellowImg,
  },
  {
    label: '風速橘',
    value: 'orange',
    img: orangeImg,
  },
  {
    label: '傑尼青',
    value: 'cyan',
    img: cyanImg,
  },
  {
    label: '耿鬼紫',
    value: 'purple',
    img: purpleImg,
  },
]
</script>

<style scoped lang="sass">
.title
  border-bottom: 3px solid white
</style>
