<template>
  <div
    class="outer-circle relative w-[5.8rem] h-[5.8rem] p-3 border cursor-pointer"
    :class="circleClass"
    @click="handleClick"
  >
    <div
      class="inner-circle w-full h-full overflow-hidden"
      :class="circleClass"
    >
      <q-img
        :src="props.img ?? carouselItem"
        fit="cover"
        position="50% 0%"
        class=" w-16"
        :class="props.imgClass"
      />
    </div>

    <div
      class=" label absolute w-[70%] p-[2px] text-center rounded-full shadow duration-300"
      :class="labelClass"
    >
      {{ props.label }}
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { isNil } from 'lodash-es';

import carouselItem from '../assets/carousel-item-default.jpg';

import { useVModels } from '@vueuse/core';

interface Props {
  modelValue?: string;
  value: string;
  label?: string;
  labelClass?: string;
  img?: string;
  imgClass?: string;
  squared?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  modelValue: '',
  label: '',
  labelClass: '',
  img: undefined,
  imgClass: '',
  squared: false,
});

const emit = defineEmits<{
  (e: 'update:modelValue', value: string): void;
}>();

const { modelValue: mValue } = useVModels(props, emit)

const isActive = computed(() => {
  if (isNil(props.value)) {
    return false;
  }

  return mValue.value === props.value;
});
const circleClass = computed(() => {
  const list = [];

  if (isActive.value) {
    list.push('active');
  }

  if (props.squared) {
    list.push('rounded-xl');
  } else {
    list.push('rounded-full');
  }

  return list;
});
const labelClass = computed(() => {
  const result = [props.labelClass];

  if (isActive.value) {
    result.push('bg-main text-second');
  } else {
    result.push('bg-second text-main');
  }


  return result.join(' ');
});

function handleClick() {
  mValue.value = props.value;
}
</script>

<style scoped lang="sass">
.title
  border-bottom: 3px solid white

.label
  left: 50%
  transform: translate(-50%, -50%)

.outer-circle
  transition-duration: 0.3s
  transition-timing-function: cubic-bezier(0.305, 1.650, 0.375, 0.905)
  &.active
    background: #FFFFE0
  &:active
    transition-duration: 0.01s
    transform: scale(0.95)
</style>
