<template>
  <div class="flex flex-col items-center">
    <div class="title font-normal text-white p-3 px-10 text-center">
      <div class="text-2xl">
        選配底部噴漆
      </div>
      <div class="text-xs">
        (滾輪調整大小、按住右鍵旋轉)
      </div>
    </div>
    <div class=" gap-2 sm:gap-6
                 flex bg-white/20 p-3 px-16 rounded-2xl gap-6">
      <carousel-item
        v-for="item in items"
        :key="item.label"
        v-model="url"
        :value="item.value"
        :label="item.label"
        :img="item.value"
        squared
        label-class="text-xs p-1 sm:text-sm sm:p-1 whitespace-nowrap"
        class=" w-16 h-16 sm:w-24 sm:h-24"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import { useMainStore } from '../stores/main.store';

import decalPokemon from '../assets/decal-pokemon.png';
import decalPokeball from '../assets/decal-pokeball.png';

import CarouselItem from './carousel-item.vue';

const store = useMainStore();

const url = ref(store.decalUrl);
watch(url, store.setDecal);

const items = [
  {
    label: 'logo',
    value: decalPokemon,
  },
  {
    label: 'icon',
    value: decalPokeball,
  },
];
</script>

<style scoped lang="sass">
.title
  border-bottom: 3px solid white
</style>
