<template>
  <svg
    width="55"
    height="55"
    viewBox="0 0 55 55"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_d_10_816)">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M27.5 19.0244C31.6814 19.0244 35.163 22.0279 35.9147 26H51C50.1745 13.7115 39.9687 4 27.5 4C15.0313 4 4.82546 13.7115 4 26H19.0853C19.837 22.0279 23.3186 19.0244 27.5 19.0244Z"
        :fill="props.topFill"
      />
    </g>
    <g filter="url(#filter1_d_10_816)">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M27.5 35.9756C23.3186 35.9756 19.837 32.9721 19.0853 29L4 29C4.82546 41.2885 15.0313 51 27.5 51C39.9687 51 50.1745 41.2885 51 29L35.9147 29C35.163 32.9721 31.6814 35.9756 27.5 35.9756Z"
        :fill="props.bottomFill"
      />
    </g>
    <g filter="url(#filter2_d_10_816)">
      <path
        d="M32 27.5C32 29.9853 29.9853 32 27.5 32C25.0147 32 23 29.9853 23 27.5C23 25.0147 25.0147 23 27.5 23C29.9853 23 32 25.0147 32 27.5Z"
        :fill="props.middleFill"
      />
    </g>
    <defs>
      <filter
        id="filter0_d_10_816"
        x="0"
        y="0"
        width="55"
        height="30"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood
          flood-opacity="0"
          result="BackgroundImageFix"
        />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset />
        <feGaussianBlur stdDeviation="2" />
        <feComposite
          in2="hardAlpha"
          operator="out"
        />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.891667 0 0 0 0 0.677667 0 0 0 0 0.356667 0 0 0 1 0"
        />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_10_816"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_10_816"
          result="shape"
        />
      </filter>
      <filter
        id="filter1_d_10_816"
        x="0"
        y="25"
        width="55"
        height="30"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood
          flood-opacity="0"
          result="BackgroundImageFix"
        />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset />
        <feGaussianBlur stdDeviation="2" />
        <feComposite
          in2="hardAlpha"
          operator="out"
        />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.891667 0 0 0 0 0.677667 0 0 0 0 0.356667 0 0 0 1 0"
        />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_10_816"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_10_816"
          result="shape"
        />
      </filter>
      <filter
        id="filter2_d_10_816"
        x="19"
        y="19"
        width="17"
        height="17"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood
          flood-opacity="0"
          result="BackgroundImageFix"
        />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset />
        <feGaussianBlur stdDeviation="2" />
        <feComposite
          in2="hardAlpha"
          operator="out"
        />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.891667 0 0 0 0 0.677667 0 0 0 0 0.356667 0 0 0 1 0"
        />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_10_816"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_10_816"
          result="shape"
        />
      </filter>
    </defs>
  </svg>
</template>

<script setup lang="ts">
import { ref } from 'vue';

interface Props {
  topFill?: string;
  middleFill?: string;
  bottomFill?: string;
}
const props = withDefaults(defineProps<Props>(), {
  topFill: '#FFFFE0',
  middleFill: '#FFFFE0',
  bottomFill: '#FFFFE0',
});

const emit = defineEmits<{
  (e: 'update:modelValue', value: string): void;
}>();
</script>

<style scoped lang="sass">
</style>
