<template>
  <svg
    viewBox="0 0 108 102"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class=" w-[6.4rem] sm:w-[8.2rem]"
  >
    <path
      d="M0 19.2712C0 18.4082 0.553566 17.6425 1.37308 17.372L53.3731 0.206945C53.7802 0.0725485 54.2198 0.0725481 54.6269 0.206945L106.627 17.372C107.446 17.6425 108 18.4082 108 19.2712V100C108 101.105 107.105 102 106 102H2C0.895429 102 0 101.105 0 100V19.2712Z"
      fill="#FFFFE0"
    />
    <path
      d="M6 24.1963C6 23.3461 6.53752 22.5888 7.34012 22.3083L53.3401 6.23064C53.7674 6.08131 54.2326 6.08131 54.6599 6.23064L100.66 22.3083C101.462 22.5888 102 23.3461 102 24.1963V100C102 101.105 101.105 102 100 102H54H8C6.89543 102 6 101.105 6 100V24.1963Z"
      fill="#1A324A"
    />

    <transition
      name="opacity"
      mode="out-in"
      class=" !duration-200"
    >
      <g :key="props.target">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M53.5 55.0244C57.6814 55.0244 61.163 58.0279 61.9147 62H77C76.1745 49.7115 65.9687 40 53.5 40C41.0313 40 30.8255 49.7115 30 62H45.0853C45.837 58.0279 49.3186 55.0244 53.5 55.0244Z"
          :fill="fillData.top"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M53.5 71.9756C49.3186 71.9756 45.837 68.9721 45.0853 65L30 65C30.8255 77.2885 41.0313 87 53.5 87C65.9687 87 76.1745 77.2885 77 65L61.9147 65C61.163 68.9721 57.6814 71.9756 53.5 71.9756Z"
          :fill="fillData.bottom"
        />
        <path
          d="M58 63.5C58 65.9853 55.9853 68 53.5 68C51.0147 68 49 65.9853 49 63.5C49 61.0147 51.0147 59 53.5 59C55.9853 59 58 61.0147 58 63.5Z"
          :fill="fillData.middle"
        />
      </g>
    </transition>
  </svg>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { Target } from '../types/main.type';

interface Props {
  target?: `${Target}`;
}
const props = withDefaults(defineProps<Props>(), {
  target: undefined,
});

const emit = defineEmits<{
  (e: 'update:modelValue', value: string): void;
}>();

const fillData = computed(() => {
  const data = {
    top: '#485B68',
    middle: '#485B68',
    bottom: '#485B68'
  }

  if (data[props.target]) {
    data[props.target] = '#FFFFE0';
  }

  return data;
});
</script>

<style scoped lang="sass">
svg
  path
    transition-duration: 0.4s
</style>
