<template>
  <div class="flex flex-col items-center px-4">
    <div class="title text-2xl font-normal text-white p-3 px-10 text-center">
      選配頂殼材質
    </div>
    <div class=" max-w-[100vw] bg-white/20 p-3 px-16 rounded-full">
      <div class="gap-2 sm:gap-6
                  w-full flex flex-nowrap overflow-auto">
        <carousel-item
          v-for="item in items"
          :key="item.value"
          v-model="shellName"
          :value="item.value"
          :label="item.label"
          :img="item.img"
          class=" w-16 h-16 sm:w-24 sm:h-24"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import { useMainStore } from '../stores/main.store';

import CarouselItem from './carousel-item.vue';
import baseImg from '../assets/carousel-item-shell-base.png';
import goldImg from '../assets/carousel-item-shell-gold.png';
import superImg from '../assets/carousel-item-shell-super.png';
import ultraImg from '../assets/carousel-item-shell-ultra.png';
import masterImg from '../assets/carousel-item-shell-master.png';

const store = useMainStore();

const shellName = ref(store.topShell);
watch(shellName, store.setTopShell);

const items = [
  {
    label: '經典',
    value: 'base',
    img: baseImg,
  },
  {
    label: '金色',
    value: 'gold',
    img: goldImg,
  },
  {
    label: '超級',
    value: 'super',
    img: superImg,
  },
  {
    label: '高級',
    value: 'ultra',
    img: ultraImg,
  },
  {
    label: '大師',
    value: 'master',
    img: masterImg,
  },
];
</script>

<style scoped lang="sass">
.title
  border-bottom: 3px solid white
</style>
