<template>
  <div class="bg-[#FFFFE0] p-[6px] pb-0 rounded-[32px] rounded-b-0">
    <div
      class=" p-1 px-4
              sm:p-3 sm:px-8
              relative bg-[#FFFFE0]  border-[#F4ECCE] border-solid border-[1px] border-b-0  rounded-[28px] rounded-b-0">
      <!-- 按鈕 -->
      <div class="flex gap-4 sm:gap-8">
        <icon-ball
          ref="topBtn"
          top-fill="#1A324A"
          class="  w-16 h-16 p-2
                   sm:w-auto sm:h-auto sm:p-0
                   cursor-pointer"
          @click="setTarget('top')"
        />
        <div class="hr" />
        <icon-ball
          ref="middleBtn"
          middle-fill="#1A324A"
          class="  w-16 h-16 p-2
                   sm:w-auto sm:h-auto
                   cursor-pointer"
          @click="setTarget('middle')"
        />
        <div class="hr" />
        <icon-ball
          ref="bottomBtn"
          bottom-fill="#1A324A"
          class="  w-16 h-16 p-2
                   sm:w-auto sm:h-auto
                   cursor-pointer"
          @click="setTarget('bottom')"
        />
      </div>

      <!-- 選擇器 mask -->
      <select-mask
        ref="selectMask"
        class="fixed pointer-events-none duration-[400ms] timing-function"
        :style="selectMaskStyle"
        :target="target"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { Target } from '../types/main.type';

import IconBall from './icon-ball.vue';
import SelectMask from './select-mask.vue';

import { useElementBounding } from '@vueuse/core';
import { useMainStore } from '../stores/main.store';

const store = useMainStore();

const target = ref<`${Target}`>();
function setTarget(name: `${Target}`) {
  if (target.value === name) {
    target.value = undefined;
  } else {
    target.value = name;
  }

  store.setTarget(target.value);
}

const topBtn = ref();
const middleBtn = ref();
const bottomBtn = ref();
const selectMask = ref();
const selectMaskBounding = useElementBounding(selectMask);

const btnList = ref([
  {
    name: Target.TOP,
    position: useElementBounding(topBtn)
  },
  {
    name: Target.MIDDLE,
    position: useElementBounding(middleBtn)
  },
  {
    name: Target.BOTTOM,
    position: useElementBounding(bottomBtn)
  },
]);

const selectMaskStyle = computed(() => {
  if (!target.value) {
    return {
      left: `50%`,
      bottom: 0,
      transform: `translate(-50%, 100%)`
    }
  }

  const targetBtn = btnList.value.find(({ name }) => target.value === name);
  if (!targetBtn) {
    return {
      left: `50%`,
      bottom: '-2px',
      transform: `translate(-50%, 100%)`
    }
  }

  const center = targetBtn.position.x + targetBtn.position.width / 2
  const left = center - selectMaskBounding.width.value / 2;

  return {
    left: `${left}px`,
    bottom: '-2px',
    transform: `translate(0%, 0%)`
  }
});
</script>

<style scoped lang="sass">
.rounded-b-0
  border-bottom-left-radius: 0px
  border-bottom-right-radius: 0px

.hr
  width: 0px
  border: 2px dashed #F4ECCE

.btn
  transition-duration: 0.4s
  &:hover
    opacity: 0.98
    transition-duration: 0.1s

.timing-function
  transition-timing-function: cubic-bezier(0.820, 0.005, 0.115, 1.000)
</style>
