<template>
  <router-view />

  <div class=" fixed w-full bottom-0 flex flex-col justify-center items-center">
    <div class=" mb-9">
      <!-- 選項按鈕 -->
      <transition
        name="fade-up"
        mode="out-in"
      >
        <component :is="carousel" />
      </transition>
    </div>

    <!-- 選單 -->
    <target-menu />
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { Target } from './types/main.type';

import TargetMenu from './components/target-menu.vue';
import ShellTypeCarousel from './components/shell-type-carousel.vue';
import BtnColorCarousel from './components/btn-color-carousel.vue';
import DecalCarousel from './components/decal-carousel.vue';

import { useMainStore } from './stores/main.store';

const store = useMainStore();

const carouselMap: Record<Target, typeof ShellTypeCarousel> = {
  top: ShellTypeCarousel,
  middle: BtnColorCarousel,
  bottom: DecalCarousel,
}
const carousel = computed(() => {
  if (!store.target) {
    return undefined
  }

  return carouselMap?.[store.target] ?? undefined;
});
</script>

<style lang="sass">
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap')

html, body, #app
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  font-family: 'Noto Sans Mono', monospace

.paneList, .floatLine, .value
  input, select
    color: #000

#app
  display: flex
  flex-direction: column

#scene-explorer-host, #inspector-host
  z-index: 100
</style>
